@value makerBlack,makerOrange,makerWhiteGray,makerGreen,makerWhite,makerBlack from '../../common/colors.css';
@value mediaQuery from '../../common/size.css';
.editor {
  flex-basis: 50%;
}

.title {
  width: 100%;
  text-align: center;
  margin-bottom: 1em;
  color: makerGreen;
}

@media screen and (max-width: mediaQuery) {
  .editor {
    border-bottom: 1px solid makerWhiteGray;
    width: 70%;
    margin: 0 auto;
    text-align: center;
  }
}
